{% extends 'base.html' %}
{% block content %}

<h1>Playdates!</h1>

{% for playdate in playdates %}
  <div class="card">
    <a href="{% url 'playdate' playdate.id %}">
      <div class="card-content">
        <span class="card-title">{{ playdate.location }}</span>
        <p>Time: {{ playdate.get_time_display }}</p>
        <p>Date: {{ playdate.date }}</p>
        <p>Description: {{ playdate.description }}</p>
        <p>User: {{ playdate.user }}</p>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}