{% extends 'base.html' %}
{% block content %}

<h4>All Your Playdates</h4>

{% for playdate in playdates %}
  <div class="card">
    <a href="{% url 'playdate' playdate.id %}">
      <div class="card-content row">
        <div class="col s6">
          <span class="card-title">{{ playdate.location }}</span>
          <p>Time: {{ playdate.get_time_display }}</p>
          <p>Date: {{ playdate.date }}</p>
          <p>Description: {{ playdate.description }}</p>
          <p>User: {{ playdate.user }}</p>
        </div>
        <div class="col s6">
          <span class="card-title">Dogs Going Already:</span>
          {% for dog in playdate.dogs.all %} 
            <div class="chip">
              <img src="../../static/images/doggo.png" alt="Doggo">
              {{ dog.name }}
            </div>
          {% endfor %} 
        </div>
      </div>
    </a>
  </div>
{% endfor %}

{% endblock %}