{% extends 'base.html' %}
{% block content %}

<div class="row top-buffer">
    <div class="col s6">
        <!-- user image goes here -->
    </div>
    <div class="col s6">
        <h2>{{ user.first_name}} {{ user.last_name}}</h2>
        <!-- user description text here -->
        <p>{{ profile.city }} {{ profile.state }}</p>
    </div>
</div>

<div class="top-buffer">
    <h3>My Pets</h3>

    <div class="row">
        {% for dog in user.dog_set.all %} 
            <div class="col s3 ">
                <div class="card dog-img">
                    {{ dog.name }}
                </div>
            </div>
        {% endfor %}
        <div class="col s3">
            <a href="{% url 'add_dog' %}">
                <div class="card green lighten-4">
                    <i class="large white-text material-icons big-i">add</i>
                </div>  
            </a>
        </div>
    </div>
</div>

{% endblock %}
