
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.profile-info {
  position: relative;
}

.flash {
  position: absolute;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.top-buffer {
  margin-top: 40px;
}

.big-i, .dog {
  width: 175px;
  height: 175px;
}

.center-cols > .col {
  float:none; /* disable the float */
  display: inline-block; /* make blocks inline-block */
  text-align: initial; /* restore text-align to default */
}

#homedogs {
  width: 75%;
  height: 50%;
  position: absolute;
}

.invite-card {
  width: 100%;
}

nav {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#brandlogo {
  font-size:xx-large;
  font-weight: bold;
}

#card-name {
  font-size: xx-large;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.carousel .indicators .indicator-item.active{
  background-color: black
}

.carousel .indicators .indicator-item{
  background-color: grey;
}