{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">{{ dog.name }}</h1>

<div class="row">
    <div class="col s6">
        <div class="carousel carousel-slider center">
            {% for photo in dog.photo_set.all %}  
                <div class="carousel-item black">
                    <img src="{{photo.url}}" width="400" height="350" >   
                </div>
            {% empty %}
                <div class="card-panel teal-text center-align">No Photos Uploaded</div>
            {% endfor %}
        </div>
       <form action="{% url 'add_photo' dog.id %}" enctype="multipart/form-data" method="POST" class="card-panel">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br><br>
        <input type="submit" class="btn" value="Upload Photo">
      </form>
    
 </div> 

    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title center-align"></span>                    
                    <p>Description: {{ dog.description }}</p>
                    <p>Breed: {{ dog.breed }}</p>
                    <p>Size:  {{dog.get_size_display}} </p>
                    {% if dog.age > 0 %}
                        <p>Age: {{ dog.age }}</p>
                    {% else %}
                        <p>Age: Puppy</p>
                    {% endif %}
                </div>
            <div class="card-action">
                <a href="{% url 'dogs_update' dog.id %}">Edit</a>
                <a href="{% url 'dogs_delete' dog.id %}">Delete</a>
            </div>
        </div>  
   
    </div>

</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.carousel');
        var instance = M.Carousel.init(elems, {
            fullwidth: true,
            indicators: true,
            numVisible: 7
            
        });
    });
</script>

{% endblock %}