{% extends 'base.html' %}
{% block content %}

<h1 class="center-align" >List of All Dogs</h1>
<div class="row center-cols center-align">
{% for dog in dogs %}
  <div class="col m5">
    <div class="card small">
      <a href="/dogs/{{ dog.id }}">
        <div class="card-image">
          <img src="../../static/images/doggo.png" alt="Image of a dog">
          <span class="card-title">{{ dog.name }}</span>
        </div>
        <div class="card-content center-align">
          <h6>
            My name is {{dog.name}}!
            Click on me if you want to play!
          </h6>
        </div>
      </a>
    </div>
  </div>   
{% endfor %}
</div>
{% endblock %} 